:root {
  --dark-base: #012a4a;
  --dark-card-base: #00416f;
  --dark-vote-bg: #0050a0;
  --dark-vote-bg-hover: #002855;
  --font-family-title: "PHILOSOPHER";
  --font-family-big: "Concert One";
  --font-family-normal: "Jetbrains mono";
  --btn-bg-color: #0466c8;
  --btn-border-color: #2a6f97;
  --btn-bg-image: linear-gradient(135deg, #002855, #002855);
  --source-link-color: #90e0ef;
  --fact-form-bg-color: #012a4a;
  --fact-form-input-color: #90e0ef;
}
body {
  margin: 0;
}
.page-content {
  width: 100%;
  margin: 0 auto;
  background-image: -moz-linear-gradient(
    136deg,
    rgb(0, 158, 253) 0%,
    rgb(42, 245, 152) 100%
  );
  background-image: -webkit-linear-gradient(
    136deg,
    rgb(0, 158, 253) 0%,
    rgb(42, 245, 152) 100%
  );
  background-image: -ms-linear-gradient(
    136deg,
    rgb(0, 158, 253) 0%,
    rgb(42, 245, 152) 100%
  );
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}
.form-container {
  background: #fff;
  width: 500px;
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  margin: 177px 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  position: relative;
  display: flex;
  display: -webkit-flex;
}
.form-content {
  padding: 30px 0;
  position: relative;
  min-width: 100%;
  background: var(--dark-card-base);
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.tab {
  margin: 5px 0 48px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}
.tab-inner {
  width: 100%;
}
.tablinks {
  background: transparent;
  border: none;
  outline: none;
  -o-outline: none;
  -ms-outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #ccc;
  padding-bottom: 22px;
  border-bottom: 3px solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}
.tablinks.active {
  font-weight: 700;
  color: #fff;
  border-bottom-color: var(--source-link-color);
}
.form-detail {
  padding: 0 40px;
}
.form-row {
  width: 100%;
  position: relative;
}
.invisible-on-sign-in {
  display: none;
}
.form-row-inner {
  position: relative;
  width: 100%;
}
.form-row-inner .label {
  position: absolute;
  top: -2px;
  left: 10px;
  font-size: 18px;
  color: var(--btn-border-color);
  font-weight: 400;
  transform-origin: 0 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
.form-row-inner .border {
  position: absolute;
  bottom: 31px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #53c83c;
  transform: scaleX(0);
  -moz-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
}
.input-text {
  margin-bottom: 31px;
  padding: 15px 10px 15px 10px;
}
.input-text::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Adjust the color */
  font-size: 18px; /* Set the font size */
  font-family: "Source Sans Pro", sans-serif; /* Change the font */
  font-weight: 400; /* Adjust the font weight */
  opacity: 1; /* Ensure the placeholder is visible (default is usually 1) */
  transition: all 0.3s ease; /* Smooth transition for visual effects */
}

.input-text:focus::placeholder {
  color: var(--source-link-color); /* Change the color on focus */
  transform: translateY(-26px) scale(1); /* Floating label effect */
}
.form-detail input {
  width: 100%;
  padding: 0px 10px 15px 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background: transparent;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  -o-appearance: unset;
  -ms-appearance: unset;
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -ms-outline: none;
  font-size: 18px;
  color: var(--source-link-color);
  font-weight: 300;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.input-text:focus {
  border-bottom: 1px solid var(--source-link-color);
  background: transparent;
}
.input-text:focus + .label,
.input-text:valid + .label {
  transform: translateY(-26px) scale(1);
  -moz-transform: translateY(-26px) scale(1);
  -webkit-transform: translateY(-26px) scale(1);
  -o-transform: translateY(-26px) scale(1);
  -ms-transform: translateY(-26px) scale(1);
}
.input-text:focus + .border,
.input-text:valid + .border {
  transform: scaleX(1);
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
}
.form-detail .register {
  background: #fff;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 160px;
  border: none;
  margin: 5px 0 50px 0px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-vote-bg);
  font-weight: 700;
  font-size: 18px;
}
.form-detail .register:hover {
  background: var(--source-link-color);
}
.form-row-last input {
  padding: 11px;
}
.form-row-last {
  display: flex;
  justify-content: center;
}
/* Responsive */
@media screen and (max-width: 991px) {
  .form-container {
    margin: 180px 20px;
    flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .form-right {
    width: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }
  .tab {
    margin-top: 45px;
  }
  .form-detail .register {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 325px) {
  .tab {
    flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
  }
}
